@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Book.eot');
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Book.eot?#iefix')
      format('embedded-opentype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Book.woff')
      format('woff'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Book.ttf')
      format('truetype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Book.svg#GothamRounded-Book')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-BoldItalic.eot');
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-BoldItalic.woff')
      format('woff'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-BoldItalic.ttf')
      format('truetype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-BoldItalic.svg#GothamRounded-BoldItalic')
      format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-BookItalic.eot');
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-BookItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-BookItalic.woff')
      format('woff'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-BookItalic.ttf')
      format('truetype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-BookItalic.svg#GothamRounded-BookItalic')
      format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Medium.eot');
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Medium.woff')
      format('woff'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Medium.ttf')
      format('truetype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Medium.svg#GothamRounded-Medium')
      format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-LightItalic.eot');
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-LightItalic.woff')
      format('woff'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-LightItalic.ttf')
      format('truetype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-LightItalic.svg#GothamRounded-LightItalic')
      format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Light.eot');
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Light.eot?#iefix')
      format('embedded-opentype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Light.woff')
      format('woff'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Light.ttf')
      format('truetype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Light.svg#GothamRounded-Light')
      format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Bold.eot');
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Bold.woff')
      format('woff'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Bold.ttf')
      format('truetype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Bold.svg#GothamRounded-Bold')
      format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-MediumItalic.eot');
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-MediumItalic.woff')
      format('woff'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-MediumItalic.ttf')
      format('truetype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic')
      format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Bold_1.eot');
  src: url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Bold_1.eot?#iefix')
      format('embedded-opentype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Bold_1.woff')
      format('woff'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Bold_1.ttf')
      format('truetype'),
    url('./photo-website/vendor/fonts/gothamrounded/GothamRounded-Bold_1.svg#GothamRounded-Bold')
      format('svg');
  font-weight: bold;
  font-style: normal;
}
