header {
  width: 100vw;
  height: 80vh;
  background: url('../images/bg.jpg') bottom center;
  background-size: cover;
  color: $white;
  display: flex;
  flex-direction: column;
  & h1 {
    @include textshadow(0.7);
    letter-spacing: 7px;
  }
  & p {
    text-align: center;
    @include textshadow(0.7);
    color: $white;
    letter-spacing: 2px;
  }
  & .container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  & .header-content {
    width: 100%;
    padding: 1rem 2rem;
  }
  & .header-content-bottom {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    & a {
      color: $white;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    & i {
      padding: 2rem 1rem;
      @include fade;
      &:hover {
        @include textshadow(0.7);
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: $bp-xs) {
  .header-content-bottom {
    & i {
      transform: scale(0.7);
    }
  }
}
