section {
  overflow: hidden;
  padding: 8rem 2rem;
  &.bg-grey {
    background: $grey;
  }
  &.bg-white {
    background: $white;
  }
  &.subscribe {
    background: url('../images/subscribe-bg.jpg') center center;
    background-size: cover;
    padding: 20rem 0;
  }
}

.fixed-height {
  height: 250px;
}

.order {
  &-1 {
    order: 2;
  }
  &-2 {
    order: 1;
  }
}

.community-tab {
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media (max-width: $bp-l) {
  .order {
    &-1 {
      order: 1;
    }
    &-2 {
      order: 2;
    }
  }
  .community-tab {
    margin: 4rem auto;
  }
}
